@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
 }

.small_padding_lr {
    padding: 0px 3px;
}

/*Navigationbar Portofolio*/
.navigtionbar-portfolio {
	background-color: #20222b;
	border-color: #20222b;
	color: #bc046e;
}

.navigtionbar-portfolio img {
	width: 91px;
    padding: 10px 0px;
}

.navigationbar-image img {
	width: 100px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #bc046e;
}
.socialmedia-navigationbar {
	text-align: right;
}
.socialmedia-navigationbar i {
	padding: 20px 40px 0px 0px;
	color: #bc046e;
}
.navbar-toggle {
    float: left;
    padding-left: 20px;
}
/*Navigationbar text*/
.navbar-default .navbar-nav>li>a {
    font-size: 17px;
    color: #bc046e;
    font-family: 'Montserrat';
}
.navbar-default .navbar-nav>li>a:hover {
    color: #bc046e;
    font-family: 'Montserrat';
}

/*Maps*/
.mapcontainer {
	margin-top: 9%;
}


.contact-section {
    padding-top: 12%;
    padding-bottom: 6%;
    text-align: left;
    background: white;

}

.footer-name-social p{
    font-size: 18px;
}

.footer-name-social h1{
    font-size: 115px;
    font-weight: bolder;
    margin-left: -5px;
    margin-top: 0px;
}

.footer-name-social h5 {
    font-size: 35px;
    margin-bottom: 0px;
}

.footer-name-social i{
    font-size: 25px;
    color: #bc046e;
    padding: 0px 20px 0px 0px;
}

.footer-name-social a {
    text-decoration: none;
    color: black;
    padding-top: 10px
}

.contact_image img {
    height: 550px;
    width: 100%;
    object-fit: cover;
}
.footer-email-forms input {
    width: 100%;
    height: 57px;
    padding: 27px 10px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: none;
    border: solid 1px #5d8676;
}
.footer-email-forms input:active {
    outline: none;
}
.footer-email-forms input:focus {
    outline: none;
}
.footer-email-forms textarea {
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: none;
    border: solid 1px #5d8676;
    padding: 25px 10px;
}
.footer-email-forms textarea:active {
    outline: none;
}
.footer-email-forms textarea:focus {
    outline: none;
}
.footer-email-forms button {
    width: 148px;
    height: 47px;
    background-color: #bc046e;
    color: white;
    border: transparent;
    border-radius: 4px;
    margin-top: 20px;
}
.footer-name-social button i{
    color: white !important;
    padding: 0px 10px;
    font-size: 17px;
}

/*Footer Bottom*/
.footer-bootom {
    background-color: #bc046e;
    color: white;
}

.rights-reserved p {
    font-size: 16px;
}

.social-media-footer {
    text-align: right;
    font-size: 18px;
    /*padding: 50px 0px;*/
}

.social-media-footer i {
    padding-left: 30px;
}

.footer-bootom a{
    color: white;
    text-decoration: none;
}
.footer-bootom a:hover{
    color: white !important;
    text-decoration: none;
}
.footer-bootom a:active{
    color: white;
    text-decoration: none;
}
.footer-bootom a:focus{
    color: white;
    text-decoration: none;
}

/*Mobile*/

@media only screen and (min-width: 500px) {
    .desktop-d-n {
        display: none;
    }

@media only screen and (max-width: 500px) {
    .mobile-d-n {
        display: none;
    }
    .navbar-header img {
        display: none;
    }
    /*Footer Contacts*/
    .contact-section-mobile {
        display: none;
    }
    /*Footer*/
    .rights-reserved p {
        display: none;
    }
    .social-media-footer {
    text-align: center;
    }
    .social-media-footer i {
    padding: 0px 4%;
    }
}

/*Desktop view*/
@media only screen and (min-width: 844px) {
    .mobile-view{
    display: none;
    }
}
@media only screen and (max-width: 844px) {
    .contact_image img {
    height: 242px;
    width: 100%;
    object-fit: cover;
}
.navigtionbar-portfolio img {
        display: none;
    }
}


.gmnoprint {
  display: none !important;
}
