.about_section_one {
	background-image: url(../img/bg/about.png);
	width: 100%;
	background-size: cover;
    background-position: 50px 65px;
	background-repeat: no-repeat;
	padding-top: 10%;
	padding-bottom: 5%;
}
.about_section_one h1 {
    color: #20222b !important;
    font-size: 60px;
    letter-spacing: -3px;
    font-family: 'GOTHAM-BOLD';
}

.about_section_one span {
	color: #bc046e;
}

.about_section_one h2 {
    font-family: 'Montserrat';
    color: #cccccc;
    font-weight: 400;
    font-size: 30px;
    margin-top: 0px;
}

.about_section_one p {
	font-size: 13px;
	color: #20222b;
	font-family: 'GOTHAM-Regular';
}

.activeab {
	color: white !important;
}