.about_section_one {
	background-image: url(../img/bg/about.png);
	width: 100%;
	background-size: cover;
    background-position: 50px 65px;
	background-repeat: no-repeat;
	padding-top: 10%;
	padding-bottom: 5%;
}
.about_section_one h1 {
    color: #20222b !important;
    font-size: 60px;
    letter-spacing: -3px;
    font-family: 'GOTHAM-BOLD';
}

.about_section_one span {
	color: #bc046e;
}

.about_section_one h2 {
    font-family: 'Montserrat';
    color: #cccccc;
    font-weight: 400;
    font-size: 30px;
    margin-top: 0px;
}

.about_section_one p {
	font-size: 13px;
	color: #20222b;
	font-family: 'GOTHAM-Regular';
}

.about_section_one button {
    width: 148px;
    height: 37px;
    background-color: #bc046e;
    color: white;
    border: transparent;
    border-radius: 4px;
    margin-top: 20px;
}



/*Desktop view*/
@media only screen and (min-width: 844px) {
    .mobile-view{
    display: none;
    }
}
@media only screen and (max-width: 844px) {
    .about_section_one h1 {
    color: #20222b !important;
    font-size: 45px;
    letter-spacing: -3px;
    font-family: 'GOTHAM-BOLD';
}
.about_section_one {
    background-image: url(../img/bg/about.png);
    width: 100%;
    background-size: cover;
    background-position: 50px 65px;
    background-repeat: no-repeat;
    padding-top: 21%;
    padding-bottom: 5%;
}
.navigtionbar-portfolio img {
    display: none;
}
.contact-section {
    padding-top: 35%;
    padding-bottom: 6%;
    text-align: left;
    background: white;
}

}