.iso-box img {
    width: 100%;
}

.iso-box {
    padding: 0px 3px;
    margin: 3px 0px;
}

.portfolio {
    padding: 40px 0px !important;
}


.portfolio-section-home {
	padding: 40px 0px s0px;
	background-color: #20222b;
}