@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
 }

/*NAvigationbar*/
.navigtionbar-portfolio {
	background-color: #20222b;
	border-color: #20222b;
	color: #bc046e;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #bc046e;
}
.navigtionbar-portfolio img {
	width: 91px;
    padding: 10px 0px;
}

.navigationbar-image img {
	width: 100px;
}
.socialmedia-navigationbar {
	text-align: right;
}
.socialmedia-navigationbar i {
	padding: 20px 40px 0px 0px;
	color: #bc046e;
}
.navbar-toggle {
    float: left;
    padding-left: 20px;
}
/*Navigationbar text*/
.navbar-default .navbar-nav>li>a {
    font-size: 17px;
    color: #bc046e;
    font-family: 'Montserrat';
}
.navbar-default .navbar-nav>li>a:hover {
    color: #bc046e;
    font-family: 'Montserrat';
}


/*Portfolio Cover*/
.portfolio-cover {
	margin-top: 5%;
	padding: 150px 0px;
	/*background-image: url('../img/portfolio-cover.png');*/
	padding-top: 15%;
    padding-bottom: 25%;
	width: 100%;
	background-color: #f2f2f2;
	text-align: center;
	color: white;/*
	border-bottom: solid 15px goldenrod;*/
	background-size: cover;
	background-repeat: no-repeat; 
}

.portfolio-cover img{
	width: 100px;
}
.portfolio-cover h1 {
	color: #bc046e ;
	font-size: 60px;
	letter-spacing: 20px;
}
.portfolio-cover span {
	color: #a7a9ac;
}
.portfolio-cover p {
	font-size: 30px;
}
.four-section {
	padding-left: 0px;
}
.four-section img{
	width: : 100%;
}

/*Footer Bottom*/
.footer-bootom {
    background-color: #bc046e;
    color: white;
}

.footer-bootom a{
	color: white;
	text-decoration: none;
}
.footer-bootom a:hover{
	color: white !important;
	text-decoration: none;
}
.footer-bootom a:active{
	color: white;
	text-decoration: none;
}
.footer-bootom a:focus{
	color: white;
	text-decoration: none;
}
.rights-reserved p {
    font-size: 16px;
}

.social-media-footer {
    text-align: right;
    font-size: 18px;
    /*padding: 50px 0px;*/
}

.social-media-footer i {
    padding-left: 30px;
}


/*-------------------*/

/*   NEW PORTFOLIO   */

/*-------------------*/
.navigation_portfolio__ {
	width: 100%;
    background: white;
    text-align: center;
}
.navigation_portfolio__ li {
	width: 20%;
}

.navigation_portfolio__ .nav-pills>li+li {
	margin: 0px;
}

.navigation_portfolio__ .nav-pills>li>a {
    border-radius: 0px;
    height: 65px;
    padding: 20px;
    color: #808080;
    font-size: 17px;
    border: solid 1px #e6e6e6;
    transition: ease all 0.2s;
}

.navigation_portfolio__ .nav-pills>li>a:hover {
    color: #fff !important;
    background-color: #bc046e;
    opacity: 0.8;
    border: solid 1px #bc046e;
    transition: ease all 0.2s;
}

.navigation_portfolio__ .nav-pills>li.active>a, .navigation_portfolio__ .nav-pills>li.active>a:focus {
    color: #fff !important;
    background-color: #bc046e;
    border: solid 1px #bc046e;
    transition: ease all 0.2s;
}

 .navigation_portfolio__ .nav-pills>li.active>a:hover {
 	opacity: 0.8;
 	transition: ease all 0.2s;
 }


.portfolio-section-home .col-md-6 img {
	height: 600px;
	object-fit: cover;
}
.portfolio-section-home .col-md-3 img {
	height: 300px;
	object-fit: cover;
}
.portfolio-section-home .col-md-4 img {
	height: 400px;
	object-fit: cover;
}



.portfolio-section-home img {
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.portfolio-section-home img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.iso-box {
  position: relative;
  
  border: 1px solid #333;
  margin: 2%;
  overflow: hidden;
}



/*Desktop*/
@media only screen and (min-width: 500px) {
   .paralax-mobile-mode img{
   	display: none;
   }
}


/*Mobile*/
@media only screen and (max-width: 500px) {
     .navbar-header img {
        display: none;
    }
    .navigationbar-image img {
	 display: none;
	}

	.desktop-mode {
		display: none;
	}
	.rights-reserved p {
    	display: none;
	}
	.social-media-footer {
    text-align: center;
	}
	.social-media-footer i {
    padding: 0px 4%;
}

.portfolio-cover h1 {
	font-size: 16px;
}

.navigation_portfolio__ li {
    width: 100%;
}


.portfolio-section-home .col-md-6 img {
	height: 150px;
	object-fit: cover;
}
.portfolio-section-home .col-md-3 img {
	height: 150px;
	object-fit: cover;
}
.portfolio-section-home .col-md-4 img {
	height: 150px;
	object-fit: cover;
}

}
